.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  max-width: 100vw;
  color: white
}

@media screen and (max-width: 500px) {
  .article-list  {
    flex-direction: column;
  }
}

.article-list {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.App-header {
  max-width: 100vw;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin:0px;
  padding: 10px;
}

.article-box {
  width:400px;
  border: 1px solid white;
  margin: 20px;
}

ul {
  padding:0
}

.nav-bar {
  min-height: 30px;
  width: 100vw;
  margin: auto;
  justify-content: space-between;
  background-color: #0fddb7;
}

.nav-list {
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  color: white
}

a:hover{
  color: white
}

.label {
  color: white;
  font-weight: bold;
  margin:10px
}

.article {
 text-align: left;
 width: 70%;
 border: 1px solid white;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;
 margin-bottom:20px;
 padding: 20px;
 display: grid;
 grid-template-columns: 1fr 2fr;
 grid-template-areas:
 "metadata title"
 "article article";
}

.comment-list {
  text-align: left;
  width: 90%;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom:20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
  "meta1 body"
  "meta2 body"
  "meta3 body"
}

.comment-meta1 {
  grid-area: meta1;
  margin: 1px;
}
.comment-meta2 {
  grid-area: meta2;
  margin: 1px;
}
.comment-meta3 {
  grid-area: meta3;
  margin: 1px;
}

.comment-body {
  grid-area: body
}

ul {
  list-style: none;
}

button {
  width: 30px;
  height: 30px;
}

.metadata {
  grid-area: metadata;
  padding:10px;
  border: 1px solid white;
}

.article-body{
  margin-top: 10px;
  grid-area: article;
  grid-column: span 2;
}

.title{
  text-align: center;
  grid-area: title;
  padding:20px;
}

.comments {
  padding:20px;
  width:70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  height: 500px;
  overflow: auto;
  border: 1px solid white;
}

.comment-input {
  margin:20px
}


