.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  max-width: 100vw;
  color: white;
  padding-bottom: 30px;
}

@media screen and (max-width: 500px) {
  .article-list  {
    flex-direction: column;
  }
}

.App-header {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 3fr 1fr;
grid-template-areas:
 "img title login"
 "navbar navbar navbar"
}

@media screen and (max-width: 500px) {
  .App-header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    display: grid;
    grid-template-areas:
    "title"
    "login"
    "navbar"
  }
}

.page-header {
  grid-area: title;
}

.login-bar {
  grid-area: login;
  display : grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  "login-form login-form"
  "img name"
  "img button";
}

.login-form {
  margin: 10px;
  grid-area: login-form;
}

#login-value {
  width: 20%;
  height: 15px;
  margin: 10px;
}

.login-button {
  margin: 10px;
  grid-area: button;
}

.login-button :hover {
  margin: 10px;
  background-color: #0e836d;
  grid-area: button;
}

.label-login {
  color: white;
  font-size: medium;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right:10px;
  grid-area: name;
}

.profile-img {
  justify-content: center;
  height:50px;
  width: auto;
  grid-area: img;
  margin:10px
}



.article-list {
  background-color: #282c34;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.App-header {
  max-width: 100vw;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin:0px;
  padding: 10px;
}

.article-box {
  width:400px;
  border: 1px solid white;
  margin: 20px;
  background-color: transparent;
}

.article-box :hover{
  background-color: #0e836d;
}

ul {
  padding:0
}

.nav-bar {
  display: flex;
  flex-direction: row;
  min-height: 30px;
  width: 100vw;
  margin: auto;
  justify-content: space-around;
  background-color: #0fddb7;
  grid-area: navbar;
}

@media screen and (max-width: 500px) {
  .nav-bar  {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.nav-list {
  justify-content: space-evenly;
  padding-left:5%;
  padding-right:5%;
  padding-bottom: 5px;
  padding-top: 5px;
}

a {
  color: white
}

a:hover{
  color: white
}

.label {
  color: white;
  font-weight: bold;
  margin:10px
}

.article {
 text-align: left;
 width: 70%;
 border: 1px solid white;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;
 margin-bottom:20px;
 padding: 20px;
 display: grid;
 grid-template-columns: 1fr 2fr;
 grid-template-areas:
 "metadata title"
 "metadata button"
 "article article";
}

.delete-button {
  grid-area: button;
  height: 20px;
  width: 200px;
  margin: 10px;
  padding:5px;
}

@media screen and (max-width: 500px) {
  .article {
    grid-template-columns: 1fr;
    display: grid;
    grid-template-areas:
    "title"
    "button"
    "metadata"
    "article";
  }
}

.comment-list {
  text-align: left;
  width: 90%;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom:20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
  "meta1 body"
  "meta2 body"
  "meta3 body"
}

.user-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.user-box{
  text-align: center;
  width: 300px;
  height: 300px;
  border: 1px solid white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom:20px;
  padding: 20px;
}

.user-img{
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
}


@media screen and (max-width: 500px) {
  .comment-list {
    grid-template-columns: 1fr;
    display: grid;
    grid-template-areas:
    "meta1"
    "meta2"
    "meta3"
    "body"
  }
}

.comment-meta1 {
  grid-area: meta1;
  margin: 1px;
}
.comment-meta2 {
  grid-area: meta2;
  margin: 1px;
}

.comment-meta3 {
  grid-area: meta3;
  margin: 1px;
}

.comment-body {
  grid-area: body
}

ul {
  list-style: none;
}

input {
  width: 50%;
  height: 30px;
  margin: 10px;
}


.metadata {
  grid-area: metadata;
  padding:10px;
  border: 1px solid white;
}

.article-body{
  margin-top: 10px;
  grid-area: article;
  grid-column: span 2;
}

.title{
  text-align: center;
  grid-area: title;
  padding:20px;
}

.comments {
  padding:20px;
  width:70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  height: 500px;
  overflow: auto;
  border: 1px solid white;
}

.comment-input {
  margin:20px
}




